<!-- wp:template-part {"slug":"site-header","theme":"intt-theme","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->

<!-- wp:pattern {"slug":"intt-theme/hero-home"} /-->

<!-- wp:pattern {"slug":"intt-theme/seccion-tramites-frecuentes"} /-->

<!-- wp:pattern {"slug":"intt-theme/seccion-otros-tramites"} /-->

<!-- wp:pattern {"slug":"intt-theme/noticias-home"} /-->

<!-- wp:pattern {"slug":"intt-theme/radio-banner"} /-->

<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"intt-theme","tagName":"footer"} /-->
